<%- include('header') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Change Password</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    
                                    <div class="card-body p-4">
        
                                        <div class="row">
                                            <form action="/change-password" method="post" >
                                                <div class="col-lg-6">
                                                <div>
                                                    <div class="mb-3">
                                                        <label for="example-text-input" class="form-label">Old Password</label>
                                                        <input class="form-control" type="password" name="oldPassword"  id="example-text-input">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="example-url-input" class="form-label">New Password</label>
                                                        <input class="form-control" type="password" name="newPassword"  id="example-url-input">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="example-url-input" class="form-label">Confirm Password</label>
                                                        <input class="form-control" type="password" name="cpassword"  id="example-url-input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                                            </div>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->


                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                
<%- include('footer') %>